@font-face {
    font-family: "IRANSans-Bold";
    src: url("../public/fonts/IRANSans-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: "IRANSans-Bold", sans-serif;
  }